@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: url('../resources/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  justify-content: center;
  width: 500px;
  margin: auto;
}

/* will be removed */

.footer {
  color: #f2f2f2;
  position: absolute;
  bottom: 10px;
  font-family: 'Poppins', sans-serif;
}
