.results-counter {
    color: #60BF88;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.end {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.end-image {
    margin-top: 14px;
}

.end-text {
    color: #1D355D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.end-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.try-again-button {
    border: solid 2px #1D355D;
    background-color: #ffffff;
    width: 208px;
    height: 62px;
    color: #1D355D;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}